<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="components_choice_wxwidgetsFrame">
		<title>Компоненты выбора</title>
		<centered>1</centered>
		<icon stock_id="wxART_TICK_MARK" />
		<size>384,311</size>
		<style>wxDEFAULT_DIALOG_STYLE</style>
		<object class="wxListBox" name="ID_LISTBOX1" variable="ListBox1" member="yes">
			<content>
				<item>C</item>
				<item>C++</item>
				<item>Java</item>
				<item>C#</item>
				<item>Python</item>
				<item>Delphi</item>
			</content>
			<pos>40,72</pos>
			<size>136,152</size>
			<handler function="OnListBox1Select" entry="EVT_LISTBOX" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>???</label>
			<pos>64,232</pos>
			<size>160,21</size>
		</object>
		<object class="wxChoice" name="ID_CHOICE1" variable="Choice1" member="yes">
			<content>
				<item>C</item>
				<item>C++</item>
				<item>Java</item>
				<item>C#</item>
				<item>Python</item>
				<item>Delphi</item>
				<item>Новый язык</item>
			</content>
			<selection>0</selection>
			<pos>40,16</pos>
			<size>136,40</size>
			<handler function="OnChoice1Select" entry="EVT_CHOICE" />
		</object>
		<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox1" member="yes">
			<label>C++</label>
			<pos>40,264</pos>
			<handler function="OnCheckBox1Click" entry="EVT_CHECKBOX" />
		</object>
		<object class="wxRadioBox" name="ID_RADIOBOX1" variable="RadioBox1" member="yes">
			<label>Выбери</label>
			<content>
				<item>C</item>
				<item>C++</item>
				<item>Java</item>
				<item>C#</item>
				<item>Python</item>
				<item>Delphi</item>
			</content>
			<default>-1</default>
			<pos>224,16</pos>
			<size>136,208</size>
			<style>wxRA_SPECIFY_COLS</style>
			<handler function="OnRadioBox1Select" entry="EVT_RADIOBOX" />
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Выход</label>
			<pos>248,256</pos>
			<handler function="OnQuit" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
